*{
	box-sizing: border-box;
}

body, html {
	min-height: 100vh;
	margin: 0;

	font-family: 'Righteous', cursive;

}

img {
	max-width: 100%;
}

body {
	display: flex;
	flex-direction: column;

	background: #8A2387;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: white;
}

main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	border-bottom: 0.5em solid white;

}

.logo {
	/*background-image: url(../imgs/iconfinder.png);*/
	/*background-blend-mode: difference;*/
	width: 6rem;
	height: 6rem;
	background-size: 100%;

	margin: 20px;
}

nav ul {
	list-style: none;
	padding: 2rem;
	margin: 0;
	display: flex;


	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 2rem;
}

.joke {
	font-size: 6rem;

	/*cursor: url(../imgs/iconfinder.png), auto;*/
	/*FIGURE OUT CURSOR*/
}

footer {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-gap: 2rem;
}

.credits {
	text-align: right;
}